
.dead-cell {
  background-color: #DCDCDC;
  border: 1px solid black;
  display: inline-block;
  float: left;
  width: 20px;
  height: 20px;
}

.dead-cell:hover
{
  background-color: grey;
}

.alive-cell {
  border: 1px solid black;
  display: inline-block;
  background-color: black;
  float: left;
  width: 20px;
  height: 20px;
}

.board{
  float: left;
  margin: 20px;
}

.height, .width
{
  width: 50px;
  margin-right: 10px;
}

.lastRound{
    width: 50px;
}

.progressStep{
vertical-align:middle;
}

.row {
  width: auto;
  height: 22px;
}

.end-of-line {
  display: block;
  float:  none;
}

.figures, .canvas{
  float: left;
}
